button {
    position: absolute;
    width: 50px;
    height: 50px;
    border-style: none;
    border-radius: 50%;
    bottom: 5%;
    left: calc(50% - 25px);
    text-align: center;
    font-size: 30px;
    color: deeppink;
    background-color: pink;
    overflow: hidden;
    transition: .2s;
    cursor: pointer;

}

button i {
    text-shadow: 0px -14px 0px white, 0px -28px 0px deeppink, 0 14px 0 white, 0 28px 0 deeppink;
    transform: translateY(-60px);
    animation: arrow 1.5s linear infinite;
}

button:hover {
    background-color: rgb(247, 113, 135);
    transform: scale(1.3);
    box-shadow: 0 0 13px 0px pink;
}

button:hover i {
    animation-duration: 0.8s;
}

@keyframes arrow {
    /*0% {
            transform: translateY(-60px);
        } DEFAULT */

    100% {
        transform: translateY(60px);
    }
}